@import url(./assets/styles/font.css);
@import url(./assets/styles//keyframes.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sf Pro Display';
  scroll-behavior: smooth;
}

html {
  background-color: #0b0e0c;
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
}

a,
button {
  cursor: pointer;
  background: transparent;
}

h1,
h2 {
  font-weight: bold;
}

.live-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 24px;
  background-color: rgb(30 224 105);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hero__bg-box {
  -webkit-animation: shake-vertical 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
  animation: shake-vertical 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

@layer components {
  .wh-full {
    @apply w-full h-full;
  }
  .wh-full-important {
    @apply !w-full !h-full;
  }
  .min-max-80 {
    @apply min-w-[80px] min-h-[80px] max-w-[80px] max-h-[80px];
  }
  .min-max-60 {
    @apply min-w-[60px] min-h-[60px] max-w-[60px] max-h-[60px];
  }
  .min-max-64 {
    @apply min-w-[64px] min-h-[64px] max-w-[64px] max-h-[64px];
  }
  .min-max-24 {
    @apply min-w-[24px] min-h-[24px] max-w-[24px] max-h-[24px];
  }
  .min-max-20 {
    @apply min-w-[20px] min-h-[20px] max-w-[20px] max-h-[20px];
  }
}
