.swiper-slide {
  width: auto !important;
  height: auto;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  bottom: -50px;
  background: transparent none repeat scroll 0 0;
  border-radius: 20px;
  border: none;
  background: #1d1f1e;
  display: inline-block;
  height: 10px;
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  width: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swiper-pagination-bullet-active {
  background: #52ea73;
  width: 10px;
}
